.card{
  display: flex;
  flex-direction: column;
  background-color: var(--basic-1100);
  padding: 2.5rem;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  @apply shadow-2;

  @screen md{
    flex-direction: row;
    justify-content: space-between;
  }
}