.lordIcon{
  --lord-icon-primary: var(--basic-200);
  --lord-icon-secondary: var(--primary-600);
}
.lordIconLinkedin{
  --lord-icon-primary: var(--primary-600);
  --lord-icon-secondary: var(--basic-200);
}