#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#quantity {
  -moz-appearance: textfield;
}
.cardDesktop{
  @apply shadow-2;
  width: 320px;
  height: 500px;
  background-color: var(--basic-1100);
  padding: 20px;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 56px;
  transition: all .3s;

  &:hover{
    @apply shadow-3;
    transform: scale(105%);    
  }
  .details{
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: 25%;
    z-index: 100;
    padding: 20px;
    gap: 14px;
    opacity: 0;
    background-color: var(--basic-1100-tr);
    backdrop-filter: blur(5px);
    transition: all .3s;
  }
  .productImg{
    z-index: 200;
    top: -70px;
    right: 0;
    transition: .4s;
    &:hover + .details{
      visibility: visible;
      opacity: 1;
    }
    &:hover{
      // right: -25%;
    }
  }
}
.cardMobile{
  width: 320px;
  height: 600px;
}
.searchInput{
  background-color: var(--basic-800);
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  color: var(--basic-200);
  &:focus{
    outline: none;
  }
  &:focus-visible{
    outline: 2px solid var(--primary-500);
  }
  &::placeholder{
    text-align: center;
    color: var(--basic-500);
  }
}
:host ::ng-deep {
  .category-menu {
    border-radius: 24px !important;
    border: 1px solid var(--primary-800) !important;
    background-color: var(--basic-1100) !important;
    color: var(--basic-400) !important;
    padding: 8px;
    z-index: 1000;
    position: relative;

    &.p-menubar-mobile-active .p-menubar-button:focus{
      box-shadow: none;
    }
    
    li.p-menuitem{
      background-color: var(--basic-900);
      margin: 0.25rem;
      border-radius: 16px;
      
      &.p-highlight.p-menuitem-active.p-focus{
        border-radius: 16px;
        .p-menuitem-link{
          border-radius: 16px;
          background-color: var(--basic-1000);
        } 
        .p-menuitem-content{
          border-radius: 16px;
        }
        .p-submenu-list{
          background-color: var(--basic-800);
          border: 2px solid var(--basic-700);
          li.p-menuitem{
            background-color: var(--basic-800);
            margin: 0;
            border-radius: 0;
          }
          .p-menuitem-link{
            background-color: var(--basic-800);
            border-radius: 0;
            transition: all .3s;
            &:hover{
              background-color: var(--basic-900);
            }
          }
        }
      }
      &:hover{
        background-color: var(--basic-1000);
      }
      .p-menuitem-link{
        border-radius: 16px;
      }
      .p-menuitem-content{
        border-radius: 16px;
        &:hover{
          background-color: var(--basic-1000);
          border-radius: 16px;
        }
      }
    }
    .p-submenu-icon {
      color: var(--basic-400) !important;
    }
  }
  .p-menubar-button{
    width: 100%;
    padding: 12px 24px;
    border-radius: 0;
    &:after{
      content: 'Categories';
      margin-left: 12px;
      
    }
  }
  
}
:host ::ng-deep {
  .p-menubar-root-list {
    background-color: var(--basic-1100);
    width: auto !important;
    flex-direction: row !important;
  }
  
  .p-menubar {
    align-items: center !important;
  }
}