<div class="h-full w-full flex flex-col items-center justify-center pb-28 lg:pb-0">
  <div class="w-full h-20 flex flex-wrap gap-x-5 gap-y-3 items-center justify-around mb-10">
    <button (click)="signOut()" class="flex-1 lg:flex-none btn-secondary hover:group-[bg-error-300,text-error-800,border-error-500] border-error-500 flex gap-3 items-center justify-center">
      <i class="pi pi-sign-out text-md"></i>
      Sign out
    </button>
    <a routerLink="../profile" class="flex-1 lg:flex-none btn-secondary flex gap-3 items-center justify-center">
      <i class="pi pi-user text-md"></i>
      {{username}}
    </a>
    <button (click)="showCart(userId)" class="flex-1 lg:flex-none btn-primary flex gap-3 items-center justify-center">
      <i class="pi pi-shopping-cart text-md"></i>
      Shopping cart
      @if(ordersNum()){
        <p-tag [styleClass]="'bg-primary-700 rounded-full'" [value]="ordersNum().toString()"/>
      }
    </button>
  </div>
  @if(products$ | async; as products){
    <div class="wrapper flex flex-wrap gap-10 overflow-hidden items-center justify-center">
      @for(product of products; track product){
        <p-card [header]="product.name" [style]="{width: '350px', height: '450px'}" styleClass="relative shadow-3 bg-basic-1100 text-basic-400">
          <ng-template pTemplate="header">
            <img class="aspect-video" src="{{env.staticFileUrl}}/productsimgs/{{product.image}}.webp" alt="">
          </ng-template>
          <ng-template pTemplate="body" class="flex">
            <h1>{{product.price | currency: '$'}}</h1>
            <p class="capitalize text-lg mt-3 text-basic-600">Category: {{product.category}}</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="flex items-center justify-between">
              <button (click)="addToCart(product.id, product.name, product.price)" class="btn-secondary flex gap-2 items-center justify-center">
                <i class="pi pi-plus text-md"></i>
                Add to cart
              </button>
                <div class="hidden gap-3 items-center justify-center">
                  <button (click)="decreaseQuantity(product.id, userId); quantity.stepDown()" class="w-10 h-10 border-2 border-error-800 flex items-center justify-center text-2xl rounded-md">-</button>
                  <input type="number" name="quantity" id="quantity" 
                  value="1"
                  class="w-10 h-10 text-center bg-basic-900 text-basic-200 border-2 border-primary-700 focus-visible:outline-none rounded-md"
                  #quantity
                  >
                  <button (click)="increaseQuantity(product.id, userId); quantity.stepUp()" class="w-10 h-10 border-2 border-success-900 flex items-center justify-center text-2xl rounded-md">+</button>
                </div>
            </div>
          </ng-template>
        </p-card>
      }
    </div>
  }
</div>