<!-- FOR LARGE SCREEN -->
<div class="lgWrapper w-full hidden lg:flex h-[600px] relative items-center justify-center">
  @for(project of projects; track project.title){
  <div class="lgProjectCard absolute">
    <a [href]="project.ownProject ? '../projects/'+project.link : project.link">
      <p-card [header]="project.title" [style]="{width: '300px', height: '500px'}" styleClass="relative shadow-3 hover:shadow-2 bg-basic-1100 text-basic-400">
        <ng-template pTemplate="header">
          <img src="../../../../assets/weatherCardBackgrounds/cloudy.webp"/>
          
        </ng-template>
        <p>{{project.description}}</p>
        <ng-template pTemplate="footer">
          <div class="flex justify-between">
            <div class="flex gap-2 absolute bottom-5">
              @for(svg of project.techsSvg; track svg){
                <svg-icon src="../../../../assets/svg/{{svg}}.svg"></svg-icon>
              }
            </div>
            @if(project.ownProject){
              <div class="absolute bottom-5 right-5">
                <p-tag styleClass="mt-5 ml-5 bg-basic-900 text-lg text-basic-100" value="own"/>
              </div>
              }
          </div>
        </ng-template>
      </p-card>
    </a>
  </div>
}
</div>

<!-- FOR MEDIUM SCREEN -->
<div class="mdWrapper h-[550px] w-full hidden md:flex lg:hidden relative">
  @for(project of projects; track project.title){
    <div class="mdProjectCard absolute">
      <a [href]="project.ownProject ? '../projects/'+project.link : project.link">
        <p-card [header]="project.title" [style]="{width: '300px', height: '500px'}" styleClass="relative shadow-3 hover:shadow-1 bg-basic-1100 text-basic-400">
          <ng-template pTemplate="header">
            <img src="../../../../assets/weatherCardBackgrounds/cloudy.webp"/>
            
          </ng-template>
          <p>{{project.description}}</p>
          <ng-template pTemplate="footer">
            <div class="flex justify-between">
              <div class="flex gap-2 absolute bottom-5">
                @for(svg of project.techsSvg; track svg){
                  <svg-icon src="../../../../assets/svg/{{svg}}.svg"></svg-icon>
                }
              </div>
              @if(project.ownProject){
                <div class="absolute bottom-5 right-5">
                  <p-tag styleClass="mt-5 ml-5 bg-basic-900 text-lg text-basic-100" value="own"/>
                </div>
                }
            </div>
          </ng-template>
        </p-card>
      </a>
    </div>
  }
</div>

<!-- FOR SMALL SCREEN -->
<div class="smWrapper w-full md:hidden flex flex-col items-center justify-center gap-10 last:mb-28">
  @for(project of projects; track project.title){
    <div class="">
      <a [href]="project.ownProject ? '../projects/'+project.link : project.link">
        <p-card [header]="project.title" [style]="{width: '300px', height: '500px'}" styleClass="relative shadow-3 hover:shadow-1 bg-basic-1100 text-basic-400">
          <ng-template pTemplate="header">
            <img src="../../../../assets/weatherCardBackgrounds/cloudy.webp"/>
          </ng-template>
          <p>{{project.description}}</p>
          <ng-template pTemplate="footer">
            <div class="flex justify-between">
              <div class="flex gap-2 absolute bottom-5">
                @for(svg of project.techsSvg; track svg){
                  <svg-icon src="../../../../assets/svg/{{svg}}.svg"></svg-icon>
                }
              </div>
              @if(project.ownProject){
                <div class="absolute bottom-5 right-5">
                  <p-tag styleClass="mt-5 ml-5 bg-basic-900 text-lg text-basic-100" value="own"/>
                </div>
                }
            </div>
          </ng-template>
        </p-card>
      </a>
    </div>
  }
</div>