<p-button label="check" icon="pi pi-check"></p-button>
<div class="wrapper w-[90%] h-28 relative">
  <div class="projectCard absolute bg-primary-50"><a routerLink="../sudoku">sudoku</a></div>
  <div class="projectCard absolute bg-primary-100"><a routerLink="../weather">weather</a></div>
  <div class="projectCard absolute bg-primary-200"><a routerLink="../wordGuess">word guess</a></div>
  <div class="projectCard absolute bg-primary-300">4</div>
  <div class="projectCard absolute bg-primary-400">5</div>
  <div class="projectCard absolute bg-primary-500">6</div>
  <div class="projectCard absolute bg-primary-600">7</div>
  <div class="projectCard absolute bg-primary-700">8</div>
  <div class="projectCard absolute bg-primary-800">9</div>
  <div class="projectCard absolute bg-primary-900">10</div>
</div>
<div class="flex gap-1 ml-20 mt-20">
  <div class="palette bg-primary-100"></div>
  <div class="palette bg-primary-200"></div>
  <div class="palette bg-primary-300"></div>
  <div class="palette bg-primary-400"></div>
  <div class="palette bg-primary-500"></div>
  <div class="palette bg-primary-600"></div>
  <div class="palette bg-primary-700"></div>
  <div class="palette bg-primary-800"></div>
  <div class="palette bg-primary-900"></div>
  primary
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-error-100"></div>
  <div class="palette bg-error-200"></div>
  <div class="palette bg-error-300"></div>
  <div class="palette bg-error-400"></div>
  <div class="palette bg-error-500"></div>
  <div class="palette bg-error-600"></div>
  <div class="palette bg-error-700"></div>
  <div class="palette bg-error-800"></div>
  <div class="palette bg-error-900"></div>
  error
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-warning-100"></div>
  <div class="palette bg-warning-200"></div>
  <div class="palette bg-warning-300"></div>
  <div class="palette bg-warning-400"></div>
  <div class="palette bg-warning-500"></div>
  <div class="palette bg-warning-600"></div>
  <div class="palette bg-warning-700"></div>
  <div class="palette bg-warning-800"></div>
  <div class="palette bg-warning-900"></div>
  warning
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-basic-100"></div>
  <div class="palette bg-basic-200"></div>
  <div class="palette bg-basic-300"></div>
  <div class="palette bg-basic-400"></div>
  <div class="palette bg-basic-500"></div>
  <div class="palette bg-basic-600"></div>
  <div class="palette bg-basic-700"></div>
  <div class="palette bg-basic-800"></div>
  <div class="palette bg-basic-900"></div>
  <div class="palette bg-basic-1000"></div>
  <div class="palette bg-basic-1100"></div>
  gray
</div>




<div class="wrapper w-[90%] h-28 relative">
  <div class="projectCard absolute bg-primary-50"><a routerLink="../sudoku">sudoku</a></div>
  <div class="projectCard absolute bg-primary-100"><a routerLink="../weather">weather</a></div>
  <div class="projectCard absolute bg-primary-200"><a routerLink="../wordGuess">word guess</a></div>
  <div class="projectCard absolute bg-primary-300">4</div>
  <div class="projectCard absolute bg-primary-400">5</div>
  <div class="projectCard absolute bg-primary-500">6</div>
  <div class="projectCard absolute bg-primary-600">7</div>
  <div class="projectCard absolute bg-primary-700">8</div>
  <div class="projectCard absolute bg-primary-800">9</div>
  <div class="projectCard absolute bg-primary-900">10</div>
</div>
<div class="flex gap-1 ml-20 mt-20">
  <div class="palette bg-primary-100"></div>
  <div class="palette bg-primary-200"></div>
  <div class="palette bg-primary-300"></div>
  <div class="palette bg-primary-400"></div>
  <div class="palette bg-primary-500"></div>
  <div class="palette bg-primary-600"></div>
  <div class="palette bg-primary-700"></div>
  <div class="palette bg-primary-800"></div>
  <div class="palette bg-primary-900"></div>
  primary
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-error-100"></div>
  <div class="palette bg-error-200"></div>
  <div class="palette bg-error-300"></div>
  <div class="palette bg-error-400"></div>
  <div class="palette bg-error-500"></div>
  <div class="palette bg-error-600"></div>
  <div class="palette bg-error-700"></div>
  <div class="palette bg-error-800"></div>
  <div class="palette bg-error-900"></div>
  error
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-warning-100"></div>
  <div class="palette bg-warning-200"></div>
  <div class="palette bg-warning-300"></div>
  <div class="palette bg-warning-400"></div>
  <div class="palette bg-warning-500"></div>
  <div class="palette bg-warning-600"></div>
  <div class="palette bg-warning-700"></div>
  <div class="palette bg-warning-800"></div>
  <div class="palette bg-warning-900"></div>
  warning
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-basic-100"></div>
  <div class="palette bg-basic-200"></div>
  <div class="palette bg-basic-300"></div>
  <div class="palette bg-basic-400"></div>
  <div class="palette bg-basic-500"></div>
  <div class="palette bg-basic-600"></div>
  <div class="palette bg-basic-700"></div>
  <div class="palette bg-basic-800"></div>
  <div class="palette bg-basic-900"></div>
  <div class="palette bg-basic-1000"></div>
  <div class="palette bg-basic-1100"></div>
  gray
</div>
<div class="wrapper w-[90%] h-28 relative">
  <div class="projectCard absolute bg-primary-50"><a routerLink="../sudoku">sudoku</a></div>
  <div class="projectCard absolute bg-primary-100"><a routerLink="../weather">weather</a></div>
  <div class="projectCard absolute bg-primary-200"><a routerLink="../wordGuess">word guess</a></div>
  <div class="projectCard absolute bg-primary-300">4</div>
  <div class="projectCard absolute bg-primary-400">5</div>
  <div class="projectCard absolute bg-primary-500">6</div>
  <div class="projectCard absolute bg-primary-600">7</div>
  <div class="projectCard absolute bg-primary-700">8</div>
  <div class="projectCard absolute bg-primary-800">9</div>
  <div class="projectCard absolute bg-primary-900">10</div>
</div>
<div class="flex gap-1 ml-20 mt-20">
  <div class="palette bg-primary-100"></div>
  <div class="palette bg-primary-200"></div>
  <div class="palette bg-primary-300"></div>
  <div class="palette bg-primary-400"></div>
  <div class="palette bg-primary-500"></div>
  <div class="palette bg-primary-600"></div>
  <div class="palette bg-primary-700"></div>
  <div class="palette bg-primary-800"></div>
  <div class="palette bg-primary-900"></div>
  primary
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-error-100"></div>
  <div class="palette bg-error-200"></div>
  <div class="palette bg-error-300"></div>
  <div class="palette bg-error-400"></div>
  <div class="palette bg-error-500"></div>
  <div class="palette bg-error-600"></div>
  <div class="palette bg-error-700"></div>
  <div class="palette bg-error-800"></div>
  <div class="palette bg-error-900"></div>
  error
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-warning-100"></div>
  <div class="palette bg-warning-200"></div>
  <div class="palette bg-warning-300"></div>
  <div class="palette bg-warning-400"></div>
  <div class="palette bg-warning-500"></div>
  <div class="palette bg-warning-600"></div>
  <div class="palette bg-warning-700"></div>
  <div class="palette bg-warning-800"></div>
  <div class="palette bg-warning-900"></div>
  warning
</div>
<div class="flex gap-1 ml-20 mt-5">
  <div class="palette bg-basic-100"></div>
  <div class="palette bg-basic-200"></div>
  <div class="palette bg-basic-300"></div>
  <div class="palette bg-basic-400"></div>
  <div class="palette bg-basic-500"></div>
  <div class="palette bg-basic-600"></div>
  <div class="palette bg-basic-700"></div>
  <div class="palette bg-basic-800"></div>
  <div class="palette bg-basic-900"></div>
  <div class="palette bg-basic-1000"></div>
  <div class="palette bg-basic-1100"></div>
  gray
</div>