<div class="w-full h-full flex center">
  <div class="text-center">
    <h2 class="mb-5">This is a demo app</h2>
    <p>You can use all options such as create an account, see charts, change setting that suits you in the full app </p>
    <p>You can download it from<a class="text-primary-500 underline hover:no-underline" href="https://github.com/parsalemi/expense-tracker"> my github</a>.</p>
    <p class="">If you are using PC, move your mouse to the left side of the screen to open navigation menu.</p>

    <h4 class="mt-10">If you are using PC, move your mouse to the left side of the screen to open navigation menu.</h4>
  </div>
</div>