<div class="flex flex-col gap-4 items-center justify-center" aria-label="projects">
  <h1 class="text-2xl md:top-5 md:absolute">Projects</h1>
  <div class="flex gap-2 flex-wrap items-center justify-center">
    <a class="btn-secondary flex-1" routerLink="/projects/weather">Weather App</a>
    <a class="btn-secondary flex-1" routerLink="/projects/sudoku">Sudoku</a>
    <a class="btn-secondary flex-1" routerLink="/projects/wordGuess">Word Guess</a>
    <a class="btn-secondary flex-1 " href="https://ompfinex.com">OMP Finex</a>
  </div>
</div>