.skill-row{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 5px;
}
  .tooltip{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--basic-1000);
    color: var(--basic-200);
    padding: 8px;
    border-radius: 8px;
    white-space: nowrap;
    z-index: 1000;
  }