<div class="w-full flex flex-col gap-2" aria-label="my skills">
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/html.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="90" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/css.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/js.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/ts.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/tailwind.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="90" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/sass.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/git.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="60" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/svg.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="30" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/angular.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/svelte.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="20" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/rxjs.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="30" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/threejs.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="20" class="progress"></mat-progress-bar>
  </div>
</div>