<div class="w-full flex flex-col gap-2" aria-label="my skills">
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/html-5-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="90" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/css-3-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/js-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/typescript-official-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/tailwind-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="90" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/sass-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/git-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="60" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/svg-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="30" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/angular-icon-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/svelte-icon-svgrepo-com.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="20" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/rxjs.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="30" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row">
    <svg-icon src="../../../assets/svg/threejs.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="20" class="progress"></mat-progress-bar>
  </div>
</div>