<div class="w-full flex flex-col gap-[6px]" aria-label="my skills">
  <div class="skill-row" appTooltip="HTML">
    <svg-icon src="{{env.staticFileUrl}}/svg/html.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="90" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="CSS">
    <svg-icon src="{{env.staticFileUrl}}/svg/css.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Javascript">
    <svg-icon src="{{env.staticFileUrl}}/svg/js.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Typescript">
    <svg-icon src="{{env.staticFileUrl}}/svg/ts.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Tailwind CSS">
    <svg-icon src="{{env.staticFileUrl}}/svg/tailwind.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="90" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Sass">
    <svg-icon src="{{env.staticFileUrl}}/svg/sass.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Git">
    <svg-icon src="{{env.staticFileUrl}}/svg/git.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="RxJS">
    <svg-icon src="{{env.staticFileUrl}}/svg/rxjs.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="50" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Angular">
    <svg-icon src="{{env.staticFileUrl}}/svg/angular.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="70" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Svelte">
    <svg-icon src="{{env.staticFileUrl}}/svg/svelte.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="20" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Threejs">
    <svg-icon src="{{env.staticFileUrl}}/svg/threejs.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="20" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Nodejs">
    <svg-icon src="{{env.staticFileUrl}}/svg/nodejs.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="60" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="SQLite">
    <svg-icon src="{{env.staticFileUrl}}/svg/sqlite.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="50" class="progress"></mat-progress-bar>
  </div> 
  <div class="skill-row" appTooltip="PostgreSQL">
    <svg-icon src="{{env.staticFileUrl}}/svg/postgresql.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="40" class="progress"></mat-progress-bar>
  </div>
  <div class="skill-row" appTooltip="Docker">
    <svg-icon src="{{env.staticFileUrl}}/svg/docker.svg"></svg-icon>
    <mat-progress-bar mode="determinate" value="60" class="progress"></mat-progress-bar>
  </div>
</div>