:host ::ng-deep{
  .menu .p-menu {
  background-color: var(--basic-800);
  padding: 5px;
  border-radius: 20px;
  }
  .p-menu-list{
    background-color: var(--basic-700);
    border-radius: 30px;
  }
  .p-menuitem{
    background-color: var(--basic-900);
    &:last-child{
      border-radius: 0 0 20px 20px;
    }
  }
  .p-menuitem-content{
    &:hover{
      background-color: var(--basic-1000);
    }
  }
  .p-menuitem-text{
    color: var(--basic-300);
  }
  .p-submenu-header{
    color: var(--basic-300);
    background-color: var(--basic-800);
    &:first-child{
      border-radius: 20px 20px 0 0;
    }
  }
}