.letter{
  color: var(--basic-100);
  text-align: center;
  width: 3rem;
  height: 3rem;
  font-size: 30px;
  border-radius: 16px;
  &:focus-visible{
    outline: 2px solid var(--primary-500);
    background-color: var(--basic-1100);
    @apply shadow-3;
  }
}
.word-green{
  color: white;
  background-color: var(--success-800);
  transform: rotateX(360deg);
  backface-visibility: hidden;
  transition:all 1s ease-in-out;
}
.word-yellow{
  color: white;
  background-color: var(--warning-600);
  transform: rotateY(360deg);
  transition:all 1s ease-in-out;
}
.word-red{
  color: white;
  background-color: var(--error-700);
  transition:all 0.5s ease-in-out;
  animation: grray .5s linear;
}
@keyframes grray{
  0%{
      transform: scale(100%);
  }
  50%{
      transform: scale(110%);
  }
  100%{
      transform: scale(100%);
  }
}