<button #toggleBtn (click)="toggleMenu()"
  class="text-basic-400 fixed top-5 left-5 z-[901] lg:hidden"
><i class="pi pi-bars text-2xl"></i></button>
<div class="w-20 h-full hidden lg:block fixed inset-0" (mouseenter)="toggleMenu()"></div>
@if(menuState === 'visible'){
  <nav [@menuAnimation]="menuState" #menu 
  class="expense-nav w-[60%] md:w-[30%] lg:w-[max(10%,calc(25%-(0.1*100vw)))] lg:max-w-96 bg-basic-1100 text-basic-600" 
  (mouseleave)="toggleMenu()">
    <button (click)="toggleMenu()" class="lg:hidden"><i class="pi pi-times text-xl"></i></button>
    <ul>
      <li>
        <a routerLink="./home" routerLinkActive="active"><i class="pi pi-home"></i>Home</a>
      </li>
      <li>
        <a routerLink="./list" routerLinkActive="active"><i class="pi pi-list"></i>Expenses List</a>
      </li>
      <li>
        <a routerLink="./add-expense" routerLinkActive="active"><i class="pi pi-dollar"></i>New Expense</a>
      </li>
      <li>
        <a routerLink="./add-income" routerLinkActive="active"><i class="pi pi-plus"></i>New Income</a>
      </li>
      <li>
        <a routerLink="./settings" routerLinkActive="active"><i class="pi pi-cog"></i>Settings</a>
      </li>
      <li>
        <a routerLink="./profile" routerLinkActive="active"><i class="pi pi-user"></i>Profile</a>
      </li>
      <li>
        <a class="text-error-700" routerLink="../login" routerLinkActive="active"><i class="pi pi-sign-out"></i>Sign Out</a>
      </li>
    </ul>
  </nav>
}