.expense-nav{
  z-index: 910;
  position: fixed;
  inset: 0;
  border-radius: 0 24px 24px 0;
  box-shadow: 5px 0 30px var(--basic-1100);
  
  button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  
  ul {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @screen lg {
      margin-top: 128px;
    }
    
    li {
      a {
        padding: 24px 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        margin-left: 12px;

        &:last-child{
          border: none;
        }
      }
    }
  }
}
.active {
  color: var(--primary-600);
}