.slot:focus-within{
  border: 2px solid var(--primary-400);
}
.selectedNumber{
  background-color: var(--primary-400);
  color: var(--primary-800);
}
.allFromNum{
  background-color: var(--primary-700);
  color: var(--primary-100);
}
.highlight{
  background-color: var(--primary-600);
  color: var(--primary-100);
}
.colSeperator{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: -10%;
    right: -14.8%;
    width: 2px;
    height: 130%;
    background: var(--basic-600);
    @screen md {
      right: -9%;
    }
  }
}
.rowSeperator{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    bottom: -9%;
    left: 0%;
    width: 100%;
    height: 2px;
    background: var(--basic-600);
    @screen md {
      bottom: -6%;
    }
  }
}