<div class="main w-full flex flex-col items-center justify-center">
  <p-toast position="center"/>
  <h2 class="mb-5 text-error-500">Errors : {{errors}}</h2>
  <div class="rounded-xl bg-basic-1000 overflow-hidden">
    <mat-progress-bar mode="determinate" [value]="progress" class="progress mb-5"></mat-progress-bar>
    @for(div of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track div){
      <div class="row flex gap-1 {{div !== 9 ? 'mb-1' : ''}} {{div % 3 == 0 && div !== 9 ? 'rowSeperator' : ''}}">
        @for(button of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track button){
          <button 
          #slot
          [attr.data-x]="div"
          [attr.data-y]="button"
          class="slot shadow-1 text-basic-100 text-center text-h4 rounded-xl border-2 border-basic-900 bg-basic-1100 w-9 h-9 md:group-[h-14,w-14,text-h2] {{button % 3 == 0 && button !== 9 ? 'colSeperator' : 'mr-0'}}" 
          (mouseover)="highlightRowAndCol(div, button)"
          (mouseout)="removeHighlight(div, button)"
          >
        </button>
        }
    </div> 
  }
  </div>

  <div class="flex items-center justify-center flex-wrap gap-3 mt-5 pb-32">
    @for(number of [1, 2, 3, 4, 5, 6, 7, 8 ,9]; track number){
      <button 
      #activeBtn
      class="btn-secondary text-h4 rounded-lg" 
      value="{{number}}" 
      (click)="activeNumber(number, activeBtn)">{{number}}</button>
    }
</div>
</div>
