@use "scss/vaiables.scss";
@import "primeng/resources/primeng";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Titillium-regular';
  src: url('assets/fonts/TitilliumWeb-Regular.ttf');
}
@font-face {
  font-family: 'Titillium-semiBold';
  src: url('assets/fonts/TitilliumWeb-SemiBold.ttf');
}
@font-face {
  font-family: 'Titillium-bold';
  src: url('assets/fonts/TitilliumWeb-Bold.ttf');
}

body{
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium-regular';
  overflow-x: hidden;
}
h1{
  @apply text-h1;
  font-family: 'Titillium-bold';
}
h2{
  @apply text-h2;
  font-family: 'Titillium-bold';
}
h3{
  @apply text-h3;
  font-family: 'Titillium-semiBold';
}
h4{
  @apply text-h4;
  font-family: 'Titillium-semiBold';
}
h5{
  @apply text-h5;
  font-family: 'Titillium-semiBold';
}
h6{
  @apply text-h5;
  font-family: 'Titillium-semiBold';
}
p{
  @apply text-xl;
}
.linkActive{
  position: relative;
  color: var(--primary-300);
  &::after{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    background: var(--primary-400);
    border-radius: 10px;
  }
}
@layer base{
  app-main{
    width: 100%;
  }
  *{
    transition: color 1s;
    transition: background-color 1s;
  }
  body{
    background-color: var(--basic-1000);
    color: var(--basic-200);
    max-width: 100%;
    overflow-x: hidden;
  }
  [class*=header]{
    background-color: var(--basic-1100);
    .glitch-wrapper{
      background-color: var(--basic-1100);
    }
  }
  .mobile-nav{
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 -40px 50px var(--basic-1000);

    a {
      padding: 24px 10px;
      &:last-child{
        border: none;
      }
    }
  }
  .btn-primary{
    background-color: var(--primary-600);
    border: 2px solid var(--primary-600);
    color: var(--primary-100);
    padding: 10px 20px;
    border-radius: .8rem;
    text-align: center;
    font-size: .875rem;
    text-wrap: nowrap;
    transition: all .4s;

    &:hover{
      background-color: var(--primary-700);
      color: var(--primary-100);

      &:active{
        background-color: var(--primary-800);
        box-shadow: inset 0 2px 3px var(--primary-900), inset 0 -2px 3px var(--primary-700);
      }
    }
  }
  .btn-secondary{
    background-color: transparent;
    border: 2px solid var(--primary-600);
    color: var(--basic-100);
    padding: 10px 20px;
    border-radius: .8rem;
    text-align: center;
    font-size: .875rem;
    text-wrap: nowrap;
    transition: all .4s;

    &:hover{
      background-color: var(--primary-600);
      border: 2px solid var(--primary-600);
      color: var(--primary-100);

      &:active{
        background-color: var(--primary-700);
        box-shadow: inset 0 2px 3px var(--primary-900), inset 0 -2px 3px var(--primary-600);
      }
    }
  }
}
// LORD ICONS

.lordIcon{
  --lord-icon-primary: var(--basic-200);
  --lord-icon-secondary: var(--primary-600);
}
.lordIconLinkedin{
  --lord-icon-primary: var(--primary-600);
  --lord-icon-secondary: var(--basic-200);
}
// PRIME NG

[id*="pn_id"]{
  background: none;
  box-shadow: none;
}
.menu .p-menu {
  background-color: var(--basic-800);
  padding: 5px;
  border-radius: 20px;
}
.p-menu-list{
  background-color: var(--basic-700);
  border-radius: 30px;
  overflow: hidden;
  @apply shadow-5;
}
.p-menuitem{
  background-color: var(--basic-900);
  &.p-focus{
    background-color: transparent;
    .p-ripple{
      background-color: var(--basic-1000);
    }
  }
}
.p-menuitem-content{
  &:hover{
    background-color: var(--basic-1000);
  }
}
.p-menuitem-text{
  color: var(--basic-300);
}
.p-submenu-header{
  color: var(--basic-300);
  background-color: var(--basic-800);
  &:first-child{
    border-radius: 20px 20px 0 0;
  }
}
.mat-mdc-progress-bar{
    --mdc-linear-progress-active-indicator-color: var(--primary-600);
    --mdc-linear-progress-track-color: var(--primary-600-tr-50);
}
// ACCESSIBILY
:focus-visible{
  background-color: var(--warning-400);
  border: none;
  color: black;
  outline: 2px dashed black;
  transition: none;
  font-family: 'Titillium-bold';
  svg{
    stroke: black;
    fill: black;
    path{
      fill: black;
    }
    #rays{
      stroke: black;
    }
  }
  i{
    color: black;
  }
  .linkActive{
    color: black;
  }
  .lordIcon{
    --lord-icon-primary: black;
    --lord-icon-secondary: black;   
  }
  .lordIconLinkedin{
    --lord-icon-primary: black;
    --lord-icon-secondary: black;   
  }
  .p-card{
    background-color: yellow;
    color: black;
  }
}
[data-theme="dark"]{
  :focus-visible{
    outline-color: white;
  }
}
[data-theme="light"]{
  .linkActive{
    color: var(--primary-600);
    &::after{
      background: var(--primary-600);
    }
  }
  .cityInput{
    box-shadow: inset 0 2px 5px var(--basic-600), inset 0 -2px 5px var(--basic-1000);
  }
}
[data-theme="dark"]{
  .cityInput{
    box-shadow: inset 0 2px 5px var(--basic-1000), inset 0 -2px 5px var(--basic-700);
  }
}